# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
#*.lib

# Executables
#*.exe
*.out
*.app

x64/
Win32/
/VisualC_net/.vs

# Unix build artifacts
bin/RNG_benchmark
bin/RNG_output
bin/RNG_test
bin/Test_calibration
